# ignore macOS Finder files
.DS_Store
**/.DS_Store

# ignore node modules everywhere
node_modules/
**/node_modules/

# existing entries
/vendor
/public/*
/public/build
!/public/.gitkeep
.env
npm-debug.log

# Claude Code files
CLAUDE.md